<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2016 Amasty (https://www.amasty.com)
 * @package Amasty_Shopby
 */
-->
<!--
/**
 * Copyright © 2015 Amasty. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="amshopby_brand" translate="label" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
            <resource>Amasty_ShopbyBrand::config</resource>
            <class>separator-top</class>
            <label>Improved Layered Navigation: Brands</label>
            <tab>amasty</tab>
            <group id="general" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="attribute_code" translate="label,comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Brand Attribute</label>
                    <comment>Creates SEO-friendly brand pages. Every page contains all your products filtered by particular brand and contains unique content that you assigned for the option of brand attribute.</comment>
                    <source_model>Amasty\ShopbyBrand\Model\Source\BrandAttribute</source_model>
                </field>
                <field id="url_key" translate="label,comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>URL Key</label>
                    <comment>Adds a key before brand name in URL like /[key]/brand-name.html</comment>
                </field>
            </group>
        </section>
    </system>
</config>
